{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ">1%",
          "chrome": "41"
        },
        "loose": true,
        "useBuiltIns": true
      }
    ],
    [
      "stage-2"
    ]
  ]
}
